# Default ignored files
/../../Sistema_universidad /.idea/shelf/
/../../Sistema_universidad /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Sistema_universidad /.idea/httpRequests/
# Datasource local storage ignored files
/../../Sistema_universidad /.idea/dataSources/
/../../Sistema_universidad /.idea/dataSources.local.xml
